* {
    box-sizing: border-box;
}
  
.game {
    display: flex;
    flex-direction: row;
}
  
.game-body {
    align-items: center;
}
  
.game-board {
    margin-left: 20px;
}
  
.game-info {
    margin-left: 20px;
  
    font-size: 10vh;
}
  
.board-row {
    display: flex;
}
  
.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 100px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0;
    text-align: center;
    width: calc(min(80vw, 80vh) / 3);
    height: calc(min(80vw, 80vh) / 3);
}
  
.game-button {
    margin-top: 20vh;
    margin-left: 25vw;
  
    font-size: 15vh;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
  
.status {
    margin-bottom: 10px;
}