.scene .hide {
    display: none;
    position: absolute;
    bottom: 70vh;
    left: 25%;
    margin: auto;
    text-align: center;
}

.scene .about-logo {
    scale: 0.12;
    position: absolute;
    top: 0;
    right: 100;
    bottom: 100vh;
    left: -60%;
}

.scene .about-logo:hover + .hide {
    left: 40%;
    display: block;
}

h1 {
    color: #aab5b8;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
}